.flechas-image1 {
    width: 30%; 
    height: 30%;
}
  
  .horario1 {
        transform: rotate(180deg);  
        position: relative;  
        bottom: 280px;
        right: 80px; 
  }
  
  .antihorario1 {
        transform: rotate(0deg);  
        position: relative;  
        bottom: 50px;
        right: 80px;   
  }

.flechas-image2 {
    width: 30%; 
    height: 30%;
}
    .horario2 {
        transform: rotate(0deg);
        position: relative;
        bottom: 50px; 
        right: -80px; 
    }

    .antihorario2 {
        transform: rotate(180deg);
        position: relative;
        bottom: 280px; 
        right: -80px; 
    }

